<ion-header>
	<ion-toolbar>
			<ion-buttons slot="start">
			<ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
		</ion-buttons>
		<ion-title>Social Studies test</ion-title>
	</ion-toolbar>
	<div class="banner ion-text-center">
		<ion-row>
			<ion-col size="4">
				<div class="rank_box">
					<h2 class="ion-text-center">#2</h2>
					<div class="img_box center_img">
						<img src="assets/images/s3.png" class="crop_img">
					</div>
				</div>
				<h3>Emili Willamson</h3>
				<h4>86.80%</h4>
			</ion-col>
			<ion-col size="4">
				<div class="rank_box">
					<h2 class="ion-text-center">#1</h2>
					<div class="img_box center_img">
						<img src="assets/images/s2.png" class="crop_img">
					</div>
				</div>
				<h3>Helina Gibson</h3>
				<h4>97.70%</h4>
			</ion-col>
			<ion-col size="4">
				<div class="rank_box">
					<h2 class="ion-text-center">#3</h2>
					<div class="img_box center_img">
						<img src="assets/images/s1.png" class="crop_img">
					</div>
				</div>
				<h3>Druva Taylor</h3>
				<h4>92.50%</h4>
			</ion-col>
		</ion-row>
	</div>
</ion-header>

<ion-content class="bg_color">
	<ion-list lines="none">
		<ion-item>
			<div class="item_container d-flex">
				<h2 class="ion-text-start">4.</h2>
				<div class="user_details d-flex">
					<div class="img_box center_img">
						<img src="assets/images/s4.png" class="crop_img">
					</div>
					<h3 class="d-flex">
						<span class="user_name">Llliana Jackson</span>
						<span class="end ion-text-end">90.70%</span>
					</h3>
				</div>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_container d-flex">
				<h2 class="ion-text-start">5.</h2>
				<div class="user_details d-flex">
					<div class="img_box center_img">
						<img src="assets/images/s5.png" class="crop_img">
					</div>
					<h3 class="d-flex">
						<span class="user_name">Nicholas Bell</span>
						<span class="end ion-text-end">89.00%</span>
					</h3>
				</div>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_container d-flex">
				<h2 class="ion-text-start">6.</h2>
				<div class="user_details d-flex">
					<div class="img_box center_img">
						<img src="assets/images/s6.png" class="crop_img">
					</div>
					<h3 class="d-flex">
						<span class="user_name"> Daniel Hope</span>
						<span class="end ion-text-end">88.50%</span>
					</h3>
				</div>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_container d-flex">
				<h2 class="ion-text-start">7.</h2>
				<div class="user_details d-flex">
					<div class="img_box center_img">
						<img src="assets/images/s7.png" class="crop_img">
					</div>
					<h3 class="d-flex">
						<span class="user_name">Johny Jackson</span>
						<span class="end ion-text-end">86.30%</span>
					</h3>
				</div>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_container d-flex">
				<h2 class="ion-text-start">8.</h2>
				<div class="user_details d-flex">
					<div class="img_box center_img">
						<img src="assets/images/s8.png" class="crop_img">
					</div>
					<h3 class="d-flex">
						<span class="user_name">Powel Peterson</span>
						<span class="end ion-text-end">82.70%</span>
					</h3>
				</div>
			</div>
		</ion-item>
		<ion-item class="you">
			<div class="item_container d-flex">
				<h2 class="ion-text-start">9.</h2>
				<div class="user_details d-flex">
					<div class="img_box center_img">
						<img src="assets/images/profile_pick.png" class="crop_img">
					</div>
					<h3 class="d-flex">
						<span class="user_name">YOU</span>
						<span class="end ion-text-end">81.00%</span>
					</h3>
				</div>
			</div>
		</ion-item>

		
		<ion-item>
			<div class="item_container d-flex">
				<h2 class="ion-text-start">10.</h2>
				<div class="user_details d-flex">
					<div class="img_box center_img">
						<img src="assets/images/s4.png" class="crop_img">
					</div>
					<h3 class="d-flex">
						<span class="user_name">Llliana Jackson</span>
						<span class="end ion-text-end">80.70%</span>
					</h3>
				</div>
			</div>
		</ion-item>

		<ion-item>
			<div class="item_container d-flex">
				<h2 class="ion-text-start">11.</h2>
				<div class="user_details d-flex">
					<div class="img_box center_img">
						<img src="assets/images/s5.png" class="crop_img">
					</div>
					<h3 class="d-flex">
						<span class="user_name">Nicholas Bell</span>
						<span class="end ion-text-end">79.00%</span>
					</h3>
				</div>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_container d-flex">
				<h2 class="ion-text-start">12.</h2>
				<div class="user_details d-flex">
					<div class="img_box center_img">
						<img src="assets/images/s6.png" class="crop_img">
					</div>
					<h3 class="d-flex">
						<span class="user_name"> Daniel Hope</span>
						<span class="end ion-text-end">75.00%</span>
					</h3>
				</div>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_container d-flex">
				<h2 class="ion-text-start">13.</h2>
				<div class="user_details d-flex">
					<div class="img_box center_img">
						<img src="assets/images/s7.png" class="crop_img">
					</div>
					<h3 class="d-flex">
						<span class="user_name">Johny Jackson</span>
						<span class="end ion-text-end">70.30%</span>
					</h3>
				</div>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_container d-flex">
				<h2 class="ion-text-start">14.</h2>
				<div class="user_details d-flex">
					<div class="img_box center_img">
						<img src="assets/images/s8.png" class="crop_img">
					</div>
					<h3 class="d-flex">
						<span class="user_name">Powel Peterson</span>
						<span class="end ion-text-end">65.70%</span>
					</h3>
				</div>
			</div>
		</ion-item> 
	</ion-list>
</ion-content>