 ion-list {
 	background: var(--transparent) !important;
 	padding-top: 10px;

 	ion-item {
 		margin-bottom: 5px;
 		--background: var(--white) !important;
 		--padding-start: 0;
 		--inner-padding-end: 0px;
 		--inner-min-height: unset !important;
 		position: relative;
 		overflow: hidden;
 		box-shadow: 0 3px 4px -4px rgba(0, 0, 0, 0.5);

 		.item_container {
 			padding: 17px 17px 17px 17px;
 			width: 100%;

 			h3 {
 				margin: 0;
 				font-size: .93rem;
 				font-weight: 500;
				padding-bottom: 10px;
 			}

 			h4 {
 				margin: 0;
 				color: var(--text-light);
				font-size: .8rem;
 			}
 		}
 	}
 }