<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
		</ion-buttons>
		<ion-title>{{'notifications' | translate}}</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="bg_color">
	<ion-list lines="none">
		<ion-item>
			<div class="item_container">
				<h3>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h3>
				<h4>11:33 am</h4>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_container">
				<h3>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h3>
				<h4>11:33 am</h4>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_container">
				<h3>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h3>
				<h4>11:33 am</h4>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_container">
				<h3>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h3>
				<h4>11:33 am</h4>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_container">
				<h3>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h3>
				<h4>11:33 am</h4>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_container">
				<h3>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h3>
				<h4>11:33 am</h4>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_container">
				<h3>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h3>
				<h4>11:33 am</h4>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_container">
				<h3>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h3>
				<h4>11:33 am</h4>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_container">
				<h3>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h3>
				<h4>11:33 am</h4>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_container">
				<h3>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h3>
				<h4>11:33 am</h4>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_container">
				<h3>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h3>
				<h4>11:33 am</h4>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_container">
				<h3>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h3>
				<h4>11:33 am</h4>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_container">
				<h3>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h3>
				<h4>11:33 am</h4>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_container">
				<h3>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h3>
				<h4>11:33 am</h4>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_container">
				<h3>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h3>
				<h4>11:33 am</h4>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_container">
				<h3>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h3>
				<h4>11:33 am</h4>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_container">
				<h3>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h3>
				<h4>11:33 am</h4>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_container">
				<h3>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h3>
				<h4>11:33 am</h4>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_container">
				<h3>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h3>
				<h4>11:33 am</h4>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_container">
				<h3>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h3>
				<h4>11:33 am</h4>
			</div>
		</ion-item>
		<ion-item>
			<div class="item_container">
				<h3>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h3>
				<h4>11:33 am</h4>
			</div>
		</ion-item>
	</ion-list>
</ion-content>
