<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
		</ion-buttons>
		<ion-title>{{'calender' | translate}}</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="bg_color">
	<div class="calender_container">
		<div class="calender_header">
			<div class="month d-flex">
				<ion-icon class="zmdi zmdi-chevron-left ion-text-start"></ion-icon>
				<h2 class="ion-text-center">June, 2019</h2>
				<ion-icon class="zmdi zmdi-chevron-right ion-text-end"></ion-icon>
			</div>
		</div>
		<div class="d-flex day">
			<h3 class="ion-text-center">Mo</h3>
			<h3 class="ion-text-center">Tu</h3>
			<h3 class="ion-text-center">We</h3>
			<h3 class="ion-text-center">Th</h3>
			<h3 class="ion-text-center">Fr</h3>
			<h3 class="ion-text-center">Sa</h3>
			<h3 class="ion-text-center">Su</h3>
		</div>
		<div class="d-flex date">
			<h4 class="disable"><span>27</span></h4>
			<h4 class="disable"><span>28</span></h4>
			<h4 class="disable"><span>29</span></h4>
			<h4 class="disable"><span>30</span></h4>
			<h4 class="disable"><span>31</span></h4>
			<h4>1</h4>
			<h4>2</h4>


			<h4 class="holiday"><span>3</span></h4>
			<h4><span>4</span></h4>
			<h4><span>5</span></h4>
			<h4><span>6</span></h4>
			<h4><span>7</span></h4>
			<h4 class="test"><span>8</span></h4>
			<h4><span>9</span></h4>

			<h4><span>10</span></h4>
			<h4><span>11</span></h4>
			<h4><span>12</span></h4>
			<h4><span>13</span></h4>
			<h4><span>14</span></h4>
			<h4><span>15</span></h4>
			<h4><span>16</span></h4>

			<h4><span>17</span></h4>
			<h4><span>18</span></h4>
			<h4 class="event"><span>19</span></h4>
			<h4><span>20</span></h4>
			<h4><span>21</span></h4>
			<h4 class="test"><span>22</span></h4>
			<h4><span>23</span></h4>


			<h4><span>24</span></h4>
			<h4><span>25</span></h4>
			<h4><span>26</span></h4>
			<h4><span>27</span></h4>
			<h4><span>28</span></h4>
			<h4><span>29</span></h4>
			<h4><span>30</span></h4>
		</div>
	</div>

	<div class="calender_details d-flex">
		<h2 class="test">
			<ion-icon class="zmdi zmdi-circle"></ion-icon>
			<span>{{'test' | translate}}</span>
		</h2>
		<h2 class="event">
			<ion-icon class="zmdi zmdi-circle"></ion-icon>
			<span>{{'event' | translate}}</span>
		</h2>
		<h2 class="holiday">
			<ion-icon class="zmdi zmdi-circle"></ion-icon>
			<span>{{'holiday' | translate}}</span>
		</h2>
	</div>

	<ion-list lines="none">
		<ion-item class="holiday">
			<div class="item_container">
				<h2 class="d-flex">{{'holiday' | translate}} <span class="end">03 Jun, 2019 Mon</span></h2>
				<h3>Public Holiday</h3>
			</div>
		</ion-item>
		<ion-item class="test">
			<div class="item_container">
				<h2 class="d-flex">{{'test' | translate}} <span class="end">08 Jun, 2019 Sat</span></h2>
				<h3>Geometric weekly test</h3>
			</div>
		</ion-item>
		<ion-item class="event">
			<div class="item_container">
				<h2 class="d-flex">{{'event' | translate}} <span class="end">19 Jun, 2019 Wed</span></h2>
				<h3>Arts and exhibitions</h3>
			</div>
		</ion-item>
		<ion-item class="test">
			<div class="item_container">
				<h2 class="d-flex">{{'test' | translate}} <span class="end">22 Jun, 2019 Sat</span></h2>
				<h3>Geometric weekly test</h3>
			</div>
		</ion-item>
	</ion-list>
</ion-content>