 ion-header {
 	background: var(--primary);

 	ion-segment {
 		border: none !important;
 		position: relative;
 		width: calc(100% - 0px);
 		margin: 0 auto;

 		ion-segment-button {
 			background: none !important;
 			position: relative;
 			font-size: 1.1rem;
 			font-weight: 400;
 			color: var(--white) !important;
 			text-transform: unset !important;
 			letter-spacing: 0;
 			--color-checked: var(--transparent) !important;
 			text-align: justify !important;

 			ion-label {
 				position: relative;
 				margin-bottom: 0;
 				padding-bottom: 7px;
 				opacity: .4;
 				transform: all .5s;

 			}

 			&::before {
 				content: '';
 				position: absolute;
 				bottom: 0px;
 				right: 0;
 				left: 0;
 				margin: 0 auto;
 				height: 4px;
 				transition: all .3s;
 				width: 0;
 				background: var(--yelow_color);
 				border-radius: 0px;
 			}

 			&.segment-button-checked {
 				color: var(--white) !important;

 				ion-label {
 					opacity: 1;
 					transform: all .5s;
 				}

 				&::before {
 					width: 40px;
 					transition: all .3s;
 				}
 			}

 		}

 		&.ios {
 			ion-segment-button {
 				margin: 0 21px;
 			}
 		}
 	}
 }

 .tab_container {
 	ion-list {
 		background: var(--transparent) !important;
 		padding-top: 8px;

 		ion-item {
 			margin-bottom: 10px;
 			--background: var(--white) !important;
 			--padding-start: 0;
 			--inner-padding-end: 0px;
 			--inner-min-height: unset !important;
 			position: relative;
 			overflow: hidden;
 			box-shadow: 0 3px 4px -4px rgba(0, 0, 0, 0.5);

 			.item_container {
 				padding: 17px 0px 0px 0px;
 				width: 100%;

 				.faculitie_details {
 					padding: 0px 17px 13px 17px;
 					border-bottom: 1px solid #c0c0c0;

 					.text_box {
 						width: 100%;
 						max-width: calc(100% - 72px);
 						display: block;

 						h3 {
 							margin: 0;
 							font-size: 1.15rem;
 							font-weight: 600;
 							margin-bottom: 5px;
 						}

 						p {
 							margin: 0;
 							font-size: 0.75rem;
 							line-height: 15px;
 							font-weight: 500;
 						}

 					}

 					.img_box {
 						min-width: 60px;
 						width: 60px;
 						height: 60px;
 						border-radius: 50%;
 					}
 				}

 				ion-row {
 					align-items: center;

 					ion-col {
 						padding: 0 !important;

 						p {
 							margin: 0;
 							color: var(--text-light);
 							padding-left: 17px;
 							font-weight: 500;
 							font-size: .85rem;
 							height: 38px;
 							line-height: 38px;
 							opacity: .6;
 							text-overflow: ellipsis;
 							overflow: hidden;
 							white-space: nowrap;
 						}

 						.message {
 							background: var(--secondary);
 							color: var(--white);
 							font-size: .85rem;
 							height: 38px;
 							line-height: 38px;
 							position: relative;
 							overflow: hidden;
 							padding-right: 19px;

 							ion-icon {
 								font-size: 1.15rem;
 								position: relative;
 								top: 5px;
 							}

 							&::after {
 								content: '';
 								position: absolute;
 								top: -14px;
 								left: -21px;
 								height: 138%;
 								width: 40px;
 								background: var(--white);
 								transform: rotate(27deg);
 							}
 						}
 					}
 				}
 			}
 		}
 	}
 }
