<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
		</ion-buttons>
		<ion-title>
			<div class="profile_details d-flex">
				<h2>Emili Williamson</h2>
				<div class="img_box center_img end">
					<img src="assets/images/4.png" class="crop_img">
				</div>
			</div>
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="bg_color">
	<div class="chat_container d-flex">
		<div class="chat_box d-flex send">
			<div class="chat d-flex">
				<div class="text_box">
					<p class="d-flex"><span>11 Jun, 2019 11:40 am</span> <strong class="end">{{'you' | translate}}</strong></p>
					<h2>Fo nsectetur adipisicing elit, sed do eiusmod tempor inu cididunt</h2>
				</div>
				<div class="img_box center_img">
					<img src="assets/images/profile_pick.png" class="crop_img">
				</div>
			</div>
		</div>
		<div class="chat_box d-flex received">
			<div class="chat  d-flex">
				<div class="img_box center_img">
					<img src="assets/images/4.png" class="crop_img">
				</div>
				<div class="text_box">
					<p class="d-flex"><strong>Emili Willamson </strong> <span class="end">11 Jun, 2019 11:41 am</span></p>
					<h2>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h2>
				</div>
			</div>
		</div>

		<div class="chat_box d-flex send">
			<div class="chat d-flex">
				<div class="text_box">
					<p class="d-flex"><span>11 Jun, 2019 11:43 am</span> <strong class="end">{{'you' | translate}}</strong></p>
					<h2>The do eiusmod tempor inu cididunt</h2>
				</div>
				<div class="img_box center_img">
					<img src="assets/images/profile_pick.png" class="crop_img">
				</div>
			</div>
		</div>
	</div>
</ion-content>

<ion-footer class="ion-no-border">
	<div class="form">
		<ion-list lines="none d-flex">
			<ion-item lines="none">
				<ion-input type="text" placeholder="{{'write_your_message' | translate}}"></ion-input>
			</ion-item>
			<div class="send_btn end">
				<ion-icon class="zmdi zmdi-mail-send"></ion-icon>
			</div>
		</ion-list>
	</div>
</ion-footer>
