<!--<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
		</ion-buttons>
		<ion-title>{{'support' | translate}}</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="bg_color">
	<div class="banner">
		<div class="logo">
			<img src="assets/images/logo.png">
		</div>
	</div>

	<div class="container">
		<h2>{{'connect_us' | translate}}</h2>
		<div class="d-flex connects">
			<ion-icon class="zmdi zmdi-phone ion-text-start"> </ion-icon>
			<div class="text_box">
				<h3>{{'call_us' | translate}}</h3>
				<h4>+1 987 654 3210</h4>
			</div>
		</div>

		<div class="d-flex connects">
			<ion-icon class="zmdi zmdi-email ion-text-start"> </ion-icon>
			<div class="text_box">
				<h3>{{'mail_us' | translate}}</h3>
				<h4>help@academy.com</h4>
			</div>
		</div>
	</div>
	<div class="container">
		<h2>{{'write_us_directly' | translate}}</h2>
		<div class="form">
			<ion-list lines="none">
				<ion-item lines="none">
					<ion-icon class="zmdi zmdi-email ion-text-start" slot="start"></ion-icon> 
					<ion-input  rows="1" type="text" placeholder="{{'your_massage' | translate}}"></ion-input>
				</ion-item>
			</ion-list>
		</div>
	</div>
</ion-content>

<ion-footer no-border> 
		<ion-button size="large" class="btn">{{'submit' | translate}}</ion-button>
</ion-footer>-->

<ion-content>
	<iframe width="100%" height="100%" [src]="myurl" frameborder="0" allowfullscreen></iframe>
  </ion-content>