<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
		</ion-buttons>
		<ion-title>{{'message' | translate}}</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="bg_color">
	<ion-list lines="none">
		<ion-item (click)="faculties_message()">
			<div class="item_container d-flex">
				<div class="img_box center_img">
					<img src="assets/images/4.png" class="crop_img">
				</div>
				<div class="text_box">
					<h3 class="d-flex"> <span class="name">Emill Willamson</span> <span class="end ion-text-end">2 min ago</span></h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					</p>
				</div>
			</div>
		</ion-item>
		<ion-item (click)="faculties_message()">
			<div class="item_container d-flex">
				<div class="img_box center_img">
					<img src="assets/images/3.png" class="crop_img">
				</div>
				<div class="text_box">
					<h3 class="d-flex"> <span class="name">George Smith</span> <span class="end ion-text-end">2 min ago</span></h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					</p>
				</div>
			</div>
		</ion-item>
		<ion-item (click)="faculties_message()">
			<div class="item_container d-flex">
				<div class="img_box center_img">
					<img src="assets/images/1.png" class="crop_img">
				</div>
				<div class="text_box">
					<h3 class="d-flex"> <span class="name">Dr Patrik Johnson</span> <span class="end ion-text-end">2 min ago</span></h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					</p>
				</div>
			</div>
		</ion-item>
		<ion-item (click)="faculties_message()">
			<div class="item_container d-flex">
				<div class="img_box center_img">
					<img src="assets/images/2.png" class="crop_img">
				</div>
				<div class="text_box">
					<h3 class="d-flex"> <span class="name">Linda Devis</span> <span class="end ion-text-end">2 min ago</span></h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					</p>
				</div>
			</div>
		</ion-item>
		<ion-item (click)="faculties_message()">
			<div class="item_container d-flex">
				<div class="img_box center_img">
					<img src="assets/images/5.png" class="crop_img">
				</div>
				<div class="text_box">
					<h3 class="d-flex"> <span class="name">Joseph taylor</span> <span class="end ion-text-end">2 min ago</span></h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					</p>
				</div>
			</div>
		</ion-item>
		<ion-item (click)="faculties_message()">
			<div class="item_container d-flex">
				<div class="img_box center_img">
					<img src="assets/images/6.png" class="crop_img">
				</div>
				<div class="text_box">
					<h3 class="d-flex"> <span class="name">Mark Rolando</span> <span class="end ion-text-end">2 min ago</span></h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					</p>
				</div>
			</div>
		</ion-item>
		<ion-item (click)="faculties_message()">
			<div class="item_container d-flex">
				<div class="img_box center_img">
					<img src="assets/images/7.png" class="crop_img">
				</div>
				<div class="text_box">
					<h3 class="d-flex"> <span class="name"> Elina Smith</span> <span class="end ion-text-end">2 min ago</span></h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					</p>
				</div>
			</div>
		</ion-item>
		<ion-item (click)="faculties_message()">
			<div class="item_container d-flex">
				<div class="img_box center_img">
					<img src="assets/images/4.png" class="crop_img">
				</div>
				<div class="text_box">
					<h3 class="d-flex"> <span class="name">Emill Willamson</span> <span class="end ion-text-end">2 min ago</span></h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					</p>
				</div>
			</div>
		</ion-item>
		<ion-item (click)="faculties_message()">
			<div class="item_container d-flex">
				<div class="img_box center_img">
					<img src="assets/images/3.png" class="crop_img">
				</div>
				<div class="text_box">
					<h3 class="d-flex"> <span class="name">George Smith</span> <span class="end ion-text-end">2 min ago</span></h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					</p>
				</div>
			</div>
		</ion-item>
		<ion-item (click)="faculties_message()">
			<div class="item_container d-flex">
				<div class="img_box center_img">
					<img src="assets/images/1.png" class="crop_img">
				</div>
				<div class="text_box">
					<h3 class="d-flex"> <span class="name">Dr Patrik Johnson</span> <span class="end ion-text-end">2 min ago</span></h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					</p>
				</div>
			</div>
		</ion-item>
		<ion-item (click)="faculties_message()">
			<div class="item_container d-flex">
				<div class="img_box center_img">
					<img src="assets/images/2.png" class="crop_img">
				</div>
				<div class="text_box">
					<h3 class="d-flex"> <span class="name">Linda Devis</span> <span class="end ion-text-end">2 min ago</span></h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					</p>
				</div>
			</div>
		</ion-item>
		<ion-item (click)="faculties_message()">
			<div class="item_container d-flex">
				<div class="img_box center_img">
					<img src="assets/images/5.png" class="crop_img">
				</div>
				<div class="text_box">
					<h3 class="d-flex"> <span class="name">Joseph taylor</span> <span class="end ion-text-end">2 min ago</span></h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					</p>
				</div>
			</div>
		</ion-item>
		<ion-item (click)="faculties_message()">
			<div class="item_container d-flex">
				<div class="img_box center_img">
					<img src="assets/images/6.png" class="crop_img">
				</div>
				<div class="text_box">
					<h3 class="d-flex"> <span class="name">Mark Rolando</span> <span class="end ion-text-end">2 min ago</span></h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					</p>
				</div>
			</div>
		</ion-item>
		<ion-item (click)="faculties_message()">
			<div class="item_container d-flex">
				<div class="img_box center_img">
					<img src="assets/images/7.png" class="crop_img">
				</div>
				<div class="text_box">
					<h3 class="d-flex"> <span class="name"> Elina Smith</span> <span class="end ion-text-end">2 min ago</span></h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					</p>
				</div>
			</div>
		</ion-item>
		<ion-item (click)="faculties_message()">
			<div class="item_container d-flex">
				<div class="img_box center_img">
					<img src="assets/images/4.png" class="crop_img">
				</div>
				<div class="text_box">
					<h3 class="d-flex"> <span class="name">Emill Willamson</span> <span class="end ion-text-end">2 min ago</span></h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					</p>
				</div>
			</div>
		</ion-item>
		<ion-item (click)="faculties_message()">
			<div class="item_container d-flex">
				<div class="img_box center_img">
					<img src="assets/images/3.png" class="crop_img">
				</div>
				<div class="text_box">
					<h3 class="d-flex"> <span class="name">George Smith</span> <span class="end ion-text-end">2 min ago</span></h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					</p>
				</div>
			</div>
		</ion-item>
		<ion-item (click)="faculties_message()">
			<div class="item_container d-flex">
				<div class="img_box center_img">
					<img src="assets/images/1.png" class="crop_img">
				</div>
				<div class="text_box">
					<h3 class="d-flex"> <span class="name">Dr Patrik Johnson</span> <span class="end ion-text-end">2 min ago</span></h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					</p>
				</div>
			</div>
		</ion-item>
		<ion-item (click)="faculties_message()">
			<div class="item_container d-flex">
				<div class="img_box center_img">
					<img src="assets/images/2.png" class="crop_img">
				</div>
				<div class="text_box">
					<h3 class="d-flex"> <span class="name">Linda Devis</span> <span class="end ion-text-end">2 min ago</span></h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					</p>
				</div>
			</div>
		</ion-item>
		<ion-item (click)="faculties_message()">
			<div class="item_container d-flex">
				<div class="img_box center_img">
					<img src="assets/images/5.png" class="crop_img">
				</div>
				<div class="text_box">
					<h3 class="d-flex"> <span class="name">Joseph taylor</span> <span class="end ion-text-end">2 min ago</span></h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					</p>
				</div>
			</div>
		</ion-item>
		<ion-item (click)="faculties_message()">
			<div class="item_container d-flex">
				<div class="img_box center_img">
					<img src="assets/images/6.png" class="crop_img">
				</div>
				<div class="text_box">
					<h3 class="d-flex"> <span class="name">Mark Rolando</span> <span class="end ion-text-end">2 min ago</span></h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					</p>
				</div>
			</div>
		</ion-item>
		<ion-item (click)="faculties_message()">
			<div class="item_container d-flex">
				<div class="img_box center_img">
					<img src="assets/images/7.png" class="crop_img">
				</div>
				<div class="text_box">
					<h3 class="d-flex"> <span class="name"> Elina Smith</span> <span class="end ion-text-end">2 min ago</span></h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					</p>
				</div>
			</div>
		</ion-item>
	</ion-list>
</ion-content>