 ion-list {
 	background: var(--transparent) !important;
 	padding-top: 8px;

 	ion-item {
 		margin-bottom: 10px;
 		--background: var(--white) !important;
 		--padding-start: 0;
 		--inner-padding-end: 0px;
 		--inner-min-height: unset !important;
 		position: relative;
 		overflow: hidden;
 		box-shadow: 0 3px 4px -4px rgba(0, 0, 0, 0.5);

 		.item_container {
 			padding: 13px 17px 13px 17px;
 			width: 100%;
 			align-items: flex-start !important;

 			.img_box {
 				min-width: 52px;
 				width: 52px;
 				height: 52px;
 				border-radius: 50%;
 				margin-right: 15px;
 			}

 			.text_box {
 				width: 100%;
 				max-width: calc(100% - 0px);
 				display: block;
 				overflow: hidden;
 				padding-top: 6px;

 				h3 {
 					margin: 0;
 					font-size: 1rem;
 					font-weight: 600;
 					margin-bottom: 2px;

 					span {
 						&.name {
 							display: block;
 							max-width: calc(100% - 50px);
 							white-space: nowrap;
 							text-overflow: ellipsis;
 							overflow: hidden;
 							width: 100%;
 						}

 						&.end {
 							color: var(--text-light);
 							font-size: .6rem;
 							font-weight: 400;
 							min-width: 50px;
 						}

 					}
 				}

 				p {
 					margin: 0;
 					font-size: 0.75rem;
 					line-height: 15px;
 					font-weight: 500;
 					white-space: nowrap;
 					text-overflow: ellipsis;
 					overflow: hidden;
 					max-width: calc(100% - 40px);
 				}

 			}



 		}
 	}
 }
