ion-header ion-toolbar {
	ion-buttons ion-back-button {
		--color: #000 !important;
		color: #000 !important;
	}

	ion-title {
		color: #000 !important;
		font-weight: 500 !important;
	}
}

.container {
	padding: 20px 20px 0 20px;

	.question {
		margin-bottom: 65px;

		h2 {
			margin: 0;
			color: var(--text-light);
			font-size: 1.2rem;
			margin-bottom: 20px;
		}

		p {
			margin: 0;
			font-size: 1.1rem;
			font-weight: 600;
			line-height: 20px;
		}
	}

	.option_container {
		margin-bottom: 60px;

		.option {
			border: 1px solid #d1d1d1;
			margin-bottom: 10px;
			padding: 15px 22px;

			h3 {
				margin: 0;
				color: var(--gray);
				font-size: .95rem;
			}

			&.rigt_answers {
				border-color: var(--secondary);
				background: var(--secondary);

				h3 {
					color: var(--white);
				}
			}

			&.wrong_answers {
				border-color: var(--red_color);
				background: var(--red_color);

				h3 {
					color: var(--white);
				}
			}
		}
	}

	.bottom_bar {
		ion-row {
			align-items: center;
			margin: 0 -5px;

			ion-col {
				&.previous_btn {
					h2 {
						color: var(--gray);
						font-size: 1.15rem;
						margin: 0;
						font-weight: 600;
						width: 100%;
						text-align: center;
					}

					ion-icon {
						color: var(--gray);
						font-size: 1.8rem;
						min-width: 23px;
					}
				}

				.button.btn {
					font-size: 1.15rem !important;
					font-weight: 500 !important;
				}
			}
		}

		.disabled {
			opacity: .3;
		}

	}
}