<ion-header class="bg_transparent">
	<ion-toolbar>
		<ion-buttons slot="start" (click)="confirmback()">
			<ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
		</ion-buttons>
		<ion-title>{{exam.duration}} min</ion-title>
	</ion-toolbar>
	<ion-segment  lines="none" scrollable>
		<ion-segment-button *ngFor ="let top of topics" (click)="changetopics(top)" value="all">
			<ion-label >
				<span *ngIf="top.name ==defaulttopic"><u>{{top.name}}</u></span>
				<span *ngIf="top.name !=defaulttopic">{{top.name}}</span>
			</ion-label>
		</ion-segment-button>
		
		
	</ion-segment>
</ion-header>

<ion-content fullscreen>
	<ion-slides #mySlides>
		<ion-slide class="ion-text-start">
			<div class="container">
				<div class="question">
					<h2>{{'question' | translate}}  {{showcounter+1}} / {{exam.totalquestions}}</h2>
					
						<div id="append"></div>
					
				</div>
				<div class="option_container">
					<div   class="option"   *ngFor ="let qc of questionchoices;index as i">
						 <h3 *ngIf= "qc.isselected" >
							<ion-checkbox checked={{qc.isselected}}  id="click{{i+1}}" (click)="getquestionIndex(qc.choiceid,$event)"
							></ion-checkbox>  <div id="{{i+1}}" [innerHTML] ="qc.choicetext | safe">
								
							</div>
						</h3>
						<h3 *ngIf= "!qc.isselected" >
							<ion-checkbox checked=false  id="click{{i+1}}" (click)="getquestionIndex(qc.choiceid,$event)"
							></ion-checkbox>  <div id="{{i+1}}" [innerHTML] ="qc.choicetext | safe">
								
							</div>
						</h3>
					</div>
					<!--<div [class]="classvar">
						<h3>
						<div id="choice2"></div>
					</h3>
					</div>
					<div [class]="classvar">
						<h3>
						<div id="choice3"></div>
						</h3>
					</div>
					<div [class]="classvar">
						<h3>
						<div id="choice4"></div>
						</h3>
					</div>-->
				</div>
				<div class="bottom_bar">
					<ion-row>
						<ion-col size="5" (click)="swipePrevious()"  [class]="classvar">
							<ion-icon class="zmdi zmdi-chevron-left"></ion-icon>
							<h2 style="color: black;"> {{'previous' | translate}}</h2>
						</ion-col>
						<ion-col size="7">
							<ion-button size="large" [class]="btnvar" [disabled] ="!noquestions"  (click)="swipeNext()">{{'next' | translate}}</ion-button>
						</ion-col>
					</ion-row>
				</div>
			</div>
		</ion-slide>


	</ion-slides>
</ion-content>