<ion-header class="bg_transparent">
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
		</ion-buttons>
		<ion-title>
			<div class="syllabus_details">
				<h2 class="d-flex">
					Week 3
					<span class="end">08 Jun - 14 Jun </span>
				</h2>
				<h3>Algebraic Expression</h3>
			</div>
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="bg_color">
	<div class="container">
		<div class="text_box">
			<h2>1. Polynomials </h2>
			<p>
				Are as expressions which are composed of two algebraic terms. In this lesson, all the concepts of polynomials like its definition, terms and degree, types, functions, formulas and solution are covered along with solved example problems. Below is the list of topics covered in this lesson.
			</p>
		</div>
		<div class="text_box">
			<h2>2. Pair Of Linear Equations </h2>
			<p>
				These are known as a 'Pair of Linear Equations in Two Variables'. To generalize them, a pair of linear equations in two variables x and y is: a1x + b1 y + c1 = 0 and a2x + b2 y + c2 = 0. Where a1, b1, c1, a2, b2, c2 are all real numbers and a12+ b12 ≠ 0, a22+ b22 ≠ 0.
			</p>
		</div>

		<div class="text_box">
			<h2>3. Quadratic Equations</h2>
			<p>
				Quadratic equations. You may remember quadratics from our discussion of expressions and factoring. A quadratic equation is one of the form, ax squared + bx + c = 0. In other words, a quadratic expression set equal to 0.
			</p>
		</div>

		<div class="text_box">
			<h2>4. Polynomials </h2>
			<p>
				Are as expressions which are composed of two algebraic terms. In this lesson, all the concepts of polynomials like its definition, terms and degree, types, functions, formulas and solution are covered along with solved example problems. Below is the list of topics covered in this lesson.
			</p>
		</div>
		<div class="text_box">
			<h2>5. Pair Of Linear Equations </h2>
			<p>
				These are known as a 'Pair of Linear Equations in Two Variables'. To generalize them, a pair of linear equations in two variables x and y is: a1x + b1 y + c1 = 0 and a2x + b2 y + c2 = 0. Where a1, b1, c1, a2, b2, c2 are all real numbers and a12+ b12 ≠ 0, a22+ b22 ≠ 0.
			</p>
		</div>

		<div class="text_box">
			<h2>6. Quadratic Equations</h2>
			<p>
				Quadratic equations. You may remember quadratics from our discussion of expressions and factoring. A quadratic equation is one of the form, ax squared + bx + c = 0. In other words, a quadratic expression set equal to 0.
			</p>
		</div>
	</div>
</ion-content>