<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
		</ion-buttons>
		<ion-title>{{examname}}</ion-title>
	</ion-toolbar>

	<ion-segment [(ngModel)]="tab" lines="none">
		<ion-segment-button value="upcoming_test">
			<ion-label>
				Duration :  {{currentduration}} mins
			</ion-label>
		</ion-segment-button>
		
	</ion-segment>
</ion-header>

<ion-content class="bg_color">
	<div class="tab_container" [ngSwitch]="tab">
		<ion-list lines="none" *ngSwitchCase="'upcoming_test'">
			<ion-item *ngFor =" let examques of examquestions">
				<div class="item_container">
					
				
					<div class="syllabus">
						<h6 class="d-flex">{{examques.sectionName}}<span class="end">{{examques.description}}</span></h6>
						<h6 class="d-flex">Maximum Marks {{examques.maxMarks}}</h6>
						<div *ngFor = "let ques of examques.sectionQuestions;index as i">
						
						Q{{i+1}}  ({{examques.maxMarks}} Marks):<div  [innerHTML] ="ques.question |safe">
							
							</div>
							<br>

							<div class="bottom_bar">
								<ion-row *ngIf ="currentduration !=0"> 
									
									<ion-col size="10">
										<ion-button size="large" class="btn" (click)="gotouploads(examques,ques)">
											Answer Upload</ion-button>
									</ion-col>
								</ion-row>

								<ion-row *ngIf ="currentduration ==0"> 
									
									<ion-col size="10">
										<ion-button size="large" class="btn" disabled>
											Answer Upload</ion-button>
									</ion-col>
								</ion-row>
							</div>
							<br>
							</div>
						
					</div>

						
					

				</div>
			</ion-item>

			
		</ion-list>

		<ion-button size="large" type="submit"
		class="btn" (click)="finalSubmit('1')" >Submit</ion-button>


	</div>
</ion-content>