<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
		</ion-buttons>
		<ion-title>Subjects</ion-title>
	</ion-toolbar>

	
</ion-header>

<ion-content class="bg_color">
	<div class="tab_container">
		<ion-list lines="none">
			<ion-item *ngFor ="let data of subjects">
				<div class="item_container" (click) ="loadvideos(data)">
					<h3 class="d-flex">{{data.facultyName}} <span class="end">{{data.subjectName}}</span></h3>
					<br><h2 class="d-flex">{{data.topicName}}/{{data.subtopicName}}</h2>
				</div>
			</ion-item>
			
		</ion-list>



	</div>
</ion-content>
