<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
		</ion-buttons>
		<ion-title>{{'forgot_password' | translate}}</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="form">
		<h2 class=ion-text-center>{{'forgot_password_text' | translate}}</h2>
		<ion-list lines="none">
			<ion-item lines="none">
				<ion-input placeholder="{{'email_address' | translate}}" type="email"></ion-input>
			</ion-item>
			<ion-button size="large" class="btn" (click)="goTohome()">{{'submit' | translate}}</ion-button>
		</ion-list>

		<h4 class=ion-text-center>{{'alredy_know_the_password' | translate}} <span (click)="goToSignIn()">{{'sign_in' | translate}}</span></h4>
	</div>
</ion-content>
