 
 .form { 
 	h2 {
 		color: var(--text-light); 
 		font-size: .95rem; 
 		margin: 30px 0px;
 	}

 	h4 {
 		font-size: .95rem;
 		color: var(--text-dark);
 		margin: 0;

 		span {
 			color: var(--secondary);
			font-weight: 600;
 		}
 	}
 

 	ion-list {
 		.button.btn {
 			margin-top: 5px;
 			margin-bottom: 23px;
 		}
 	}

 }
