 .banner {
 	margin-bottom: 60px;

 	.logo {
 		img {
 			text-align: center;
 			width: 170px;
 			display: block;
 			margin: 0 auto;

 		}
 	}
 }

 .form {
 	.button.btn {
 		&.fb_btn {
 			--background: #3463b3 !important;
 			height: 45px !important;
 			margin-bottom: 26px;
 		}
 	}

 	h2 {
 		color: var(--text-light);
 		margin: 0;
 		font-size: .95rem;
 		margin-bottom: 23px;
 	}

 	h4 {
 		font-size: .95rem;
 		color: var(--text-dark);
 		margin: 0;

 		span {
 			color: var(--secondary);
				font-weight: 600;
 		}
 	}

 	ion-item {
 		h3 {
 			margin: 0;
 			color: var(--secondary);
 			font-size: .8rem;
 			height: 48px;
 			line-height: 48px;
 			font-weight: 500;
 		}
 	}

 	ion-list {
 		.button.btn {
 			margin-top: 5px;
 			margin-bottom: 23px;
 		}
 	}

 }
