<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
		</ion-buttons>
		<ion-title>Students</ion-title>
	</ion-toolbar>

	
</ion-header>

<ion-content class="bg_color">
	<div class="tab_container">
		<ion-list lines="none">
			<ion-item *ngFor ="let data of subjects">
				<div class="item_container" (click) ="examlist(data)">
					<h2 class="d-flex">{{data.studentName}} <span class="end">{{data.empSubject}}</span></h2>
					
				 <span *ngIf="data.admNo == admNo">
						<h2 style ="color:red">Evaluation In Progress</h2> </span>
				</div>
			</ion-item>
			
		</ion-list>



	</div>
</ion-content>
