<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
		</ion-buttons>
		<ion-title>{{'insights' | translate}}</ion-title>
	</ion-toolbar>
	<div class="profle_box d-flex">
		<div class="profile_text">
			<h2>{{'hello' | translate}} Samantha,</h2>
			<h3> You're good. Some more practice.</h3>
		</div>
		<div class="img_box end center_img">
			<img src="assets/images/profile_pick.png" class="crop_img">
		</div>
	</div>
</ion-header>

<ion-content class="bg_color">
	<div class="container">
		<div class="rank_container">
			<ion-row>
				<ion-col size="6">
					<div class="rank" (click)="leaderboard()">
						<h2 class="d-flex">
							{{'overall_rank' | translate}}
							<ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
						</h2>
						<h3 class="ion-text-center">#10</h3>
					</div>
				</ion-col>
				<ion-col size="6">
					<div class="rank" (click)="leaderboard()">
						<h2 class="d-flex">
							{{'last_test_rank' | translate}}
							<ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
						</h2>
						<h3 class="ion-text-center">#7</h3>
					</div>
				</ion-col>
			</ion-row>
		</div>

		<div class="graph_container">
			<div class="d-flex graph_heading">
				<h2>
					{{'last' | translate}} 10 {{'test_peromance' | translate}} (%)
				</h2>
				<ion-select class="end" interface="action-sheet">
					<ion-select-option value="1" selected> All</ion-select-option>
					<ion-select-option value="2"> Maths </ion-select-option>
					<ion-select-option value="3"> Science </ion-select-option>
					<ion-select-option value="4"> English </ion-select-option>
					<ion-select-option value="5"> Sociology </ion-select-option>
					<ion-select-option value="6"> History </ion-select-option>
				</ion-select>
			</div>


			<div class="graph">
				<p><span class="ion-text-end">100</span></p>
				<p><span class="ion-text-end">75</span></p>
				<p><span class="ion-text-end">50</span></p>
				<p><span class="ion-text-end">25</span></p>
				<p><span class="ion-text-end">0</span></p>
				<div class="graph_bar_box">
					<div class="bar_box after_50">
						<div class="bar" style="height: 75%"></div>
						<h6>Mat</h6>
					</div>
					<div class="bar_box after_75">
						<div class="bar" style="height: 95%"></div>
						<h6>Quz</h6>
					</div>
					<div class="bar_box after_75">
						<div class="bar" style="height: 85%"></div>
						<h6>Sci</h6>
					</div>
					<div class="bar_box after_50">
						<div class="bar" style="height: 65%"></div>
						<h6>Mat</h6>
					</div>
					<div class="bar_box after_0_50">
						<div class="bar" style="height: 30%"></div>
						<h6>Soc</h6>
					</div>
					<div class="bar_box after_50">
						<div class="bar" style="height:50%"></div>
						<h6>Geo</h6>
					</div>
					<div class="bar_box after_0_50">
						<div class="bar" style="height: 45%"></div>
						<h6>Sci</h6>
					</div>
					<div class="bar_box after_75">
						<div class="bar" style="height: 100%"></div>
						<h6>Mat</h6>
					</div>
					<div class="bar_box after_50">
						<div class="bar" style="height: 75%"></div>
						<h6>Mat</h6>
					</div>
					<div class="bar_box after_75">
						<div class="bar" style="height: 95%"></div>
						<h6>Quz</h6>
					</div>
					<div class="bar_box after_75">
						<div class="bar" style="height: 85%"></div>
						<h6>Sci</h6>
					</div>
					<div class="bar_box after_50">
						<div class="bar" style="height: 65%"></div>
						<h6>Mat</h6>
					</div>
					<div class="bar_box after_0_50">
						<div class="bar" style="height: 30%"></div>
						<h6>Soc</h6>
					</div>
					<div class="bar_box after_50">
						<div class="bar" style="height:50%"></div>
						<h6>Geo</h6>
					</div>
					<div class="bar_box after_0_50">
						<div class="bar" style="height: 45%"></div>
						<h6>Sci</h6>
					</div>
					<div class="bar_box after_75">
						<div class="bar" style="height: 100%"></div>
						<h6>Mat</h6>
					</div>
				</div>
			</div>
		</div>




		<div class="graph_container subject_analysis">
			<div class="d-flex graph_heading">
				<h2>
					{{'subject_analysis' | translate}}
				</h2>
				<ion-select class="end" interface="action-sheet">
					<ion-select-option value="1" selected> All time</ion-select-option>
					<ion-select-option value="2"> Last time </ion-select-option>
				</ion-select>
			</div>


			<div class="graph">
				<div class="d-flex analysis">
					<p class="ion-text-end">Matha</p>
					<div class="bar_box after_75">
						<div class="bar" style="width:  100.00%"></div>
					</div>
					<h6 class="end ion-text-end">85.50%</h6>
				</div>
				<div class="d-flex analysis">
					<p class="ion-text-end">Science</p>
					<div class="bar_box after_50">
						<div class="bar" style="width:  54.00%"></div>
					</div>
					<h6 class="end ion-text-end">54.00%</h6>
				</div>
				<div class="d-flex analysis">
					<p class="ion-text-end">English</p>
					<div class="bar_box after_75">
						<div class="bar" style="width:88.50%"></div>
					</div>
					<h6 class="end ion-text-end">88.50%</h6>
				</div>
				<div class="d-flex analysis">
					<p class="ion-text-end">Sociology</p>
					<div class="bar_box after_50">
						<div class="bar" style="width:29.50%"></div>
					</div>
					<h6 class="end ion-text-end">29.50%</h6>
				</div>
				<div class="d-flex analysis">
					<p class="ion-text-end">History</p>
					<div class="bar_box after_0_50">
						<div class="bar" style="width:  29.50%"></div>
					</div>
					<h6 class="end ion-text-end">85.50%</h6>
				</div>
				<div class="d-flex analysis">
					<p class="ion-text-end">Geography</p>
					<div class="bar_box after_75">
						<div class="bar" style="width:  86.50%"></div>
					</div>
					<h6 class="end ion-text-end">86.50%</h6>
				</div>
				<div class="d-flex analysis">
					<p class="ion-text-end">General Quiz </p>
					<div class="bar_box after_50">
						<div class="bar" style="width:  85.50%"></div>
					</div>
					<h6 class="end ion-text-end">85.50%</h6>
				</div> 
				<div class="d-flex analysis">
					<p class="ion-text-end">Chemistry</p>
					<div class="bar_box after_75">
						<div class="bar" style="width:89.50%"></div>
					</div>
					<h6 class="end ion-text-end">85.50%</h6>
				</div>
				<div class="d-flex analysis">
					<p class="ion-text-end">Physics</p>
					<div class="bar_box after_75">
						<div class="bar" style="width:  78.50%"></div>
					</div>
					<h6 class="end ion-text-end">78.50%</h6>
				</div>
			</div>
		</div>
	</div>

</ion-content>