<ion-header>
	<ion-toolbar>
		<ion-title>
			<!--<span class="ion-float-start" (click)="change_language()">
				<ion-icon class="zmdi zmdi-settings ion-text-start"></ion-icon>
			</span>-->
			<span class="title">{{'app_title' | translate}}</span>
			<!--<span class="ion-float-end" (click)="notification()">
				<ion-icon class="zmdi zmdi-notifications ion-text-end"></ion-icon>
			</span>-->
		</ion-title>
	</ion-toolbar>

	<div class="profle_box d-flex">
		<div class="profile_text">
			<h2>{{'hello' | translate}} Student,</h2>
			<h3>{{todaydate}}</h3>
		</div>
		
	</div>
</ion-header>

<ion-content class="bg_color">
	<div class="container">
		<div class="whats_next">
			<h2>Todays Exam</h2>
			<!--<h3>{{todaysexam.exam}}</h3>
			<h4 class="d-flex"> {{todaysexam.examtime}} {{todaysexam.span}} 
				<span class="end" (click)="tests()">View</span></h4>-->

				<h3>Comming Soon</h3>
		</div>

		<div class="menu_container">
			<ion-row>
				<ion-col size="6">
					<div class="menu d-flex" (click)="downloads()" >
						<h2>{{'downloads' | translate}}</h2>
						<div class="menu_img end">
							<img src="assets/images/ic_about.png">
						</div>
					</div>
				</ion-col>

				<ion-col size="6">
					<div class="menu d-flex" (click)="openWithInAppBrowser()">
						<h2>{{'epragna' | translate}}</h2>
						<div class="menu_img end">
							<img src="assets/images/ic_insights.png">
						</div>
					</div>
				</ion-col>
				<!--<ion-col size="6">
					<div class="menu d-flex" (click)="syllabus()">
						<h2>{{'syllabus' | translate}}</h2>
						<div class="menu_img end">
							<img src="assets/images/ic_syllabus.png">
						</div>
					</div>
				</ion-col>
				<ion-col size="6">
					<div class="menu d-flex" (click)="calender()">
						<h2>{{'calender' | translate}}</h2>
						<div class="menu_img end">
							<img src="assets/images/ic_calender.png">
						</div>
					</div>
				</ion-col>-->
				
				
				<ion-col size="6">
					<div class="menu d-flex" (click)="tests()">
						<h2>{{'tests' | translate}}</h2>
						<div class="menu_img end">
							<img src="assets/images/ic_tests.png">
						</div>
					</div>
				</ion-col>
				<ion-col size="6">
					<div class="menu d-flex" (click)="subjectiveexam()">
						<h2>Subjective Exam</h2>
						<div class="menu_img end">
							<img src="assets/images/ic_tests.png">
						</div>
					</div>
				</ion-col>
				<ion-col size="6">
					<div class="menu d-flex" (click)="logout()">
						<h2>Logout</h2>
						<div class="menu_img end">
							<img src="assets/images/ic_support.png">
						</div>
					</div>
				</ion-col>
				<ion-col size="6">
					<div class="menu d-flex" (click)="allstudents()">
						<h2>Exam Evaluation</h2>
						<div class="menu_img end">
							<img src="assets/images/ic_tests.png">
						</div>
					</div>
				</ion-col>
				<!--<ion-col size="6">
					<div class="menu d-flex" (click)="faculties_message()">
						<h2>{{'messages' | translate}}</h2>
						<div class="menu_img end">
							<img src="assets/images/ic_messages.png">
						</div>
					</div>
				</ion-col>

				<ion-col size="6">
					<div class="menu d-flex" (click)="syllabus()">
						<h2>{{'syllabus' | translate}}</h2>
						<div class="menu_img end">
							<img src="assets/images/ic_syllabus.png">
						</div>
					</div>
				</ion-col>
				<ion-col size="6">
					<div class="menu d-flex" (click)="calender()">
						<h2>{{'calender' | translate}}</h2>
						<div class="menu_img end">
							<img src="assets/images/ic_calender.png">
						</div>
					</div>
				</ion-col>
				<ion-col size="6">
					<div class="menu d-flex" (click)="tests()">
						<h2>{{'tests' | translate}}</h2>
						<div class="menu_img end">
							<img src="assets/images/ic_tests.png">
						</div>
					</div>
				</ion-col>

				<ion-col size="6">
					<div class="menu d-flex" (click)="insight()">
						<h2>{{'insights' | translate}}</h2>
						<div class="menu_img end">
							<img src="assets/images/ic_insights.png">
						</div>
					</div>
				</ion-col>
				<ion-col size="6">
					<div class="menu d-flex" (click)="about_academy()">
						<h2>{{'about' | translate}}</h2>
						<div class="menu_img end">
							<img src="assets/images/ic_about.png">
						</div>
					</div>
				</ion-col>
				<ion-col size="6">
					<div class="menu d-flex" (click)="faculties()">
						<h2>{{'faculities' | translate}}</h2>
						<div class="menu_img end">
							<img src="assets/images/ic_faculties.png">
						</div>
					</div>
				</ion-col>
				<ion-col size="6">
					<div class="menu d-flex" (click)="support()">
						<h2>{{'support' | translate}}</h2>
						<div class="menu_img end">
							<img src="assets/images/ic_support.png">
						</div>
					</div>
				</ion-col>
				<ion-col size="6">
					<div class="menu d-flex" (click)="faculties_message()">
						<h2>{{'messages' | translate}}</h2>
						<div class="menu_img end">
							<img src="assets/images/ic_messages.png">
						</div>
					</div>
				</ion-col>-->
			</ion-row>
		</div>
	</div>

	<div *ngIf="config.showBuyPromt" (click)="buyAppAction()" class="buy_this_app">
		<h2>
			<ion-icon class="zmdi zmdi-shopping-cart"></ion-icon>
			{{"buy_this_app" | translate}}
		</h2>
	</div>
</ion-content>