<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
		</ion-buttons>
		<ion-title>{{'app_title' | translate}}</ion-title>
	</ion-toolbar>

	<ion-segment [(ngModel)]="tab" lines="none" scrollable>
		
		<ion-segment-button value="online">
			<ion-label>
				Online Videos
			</ion-label>
		</ion-segment-button>
		<ion-segment-button value="offline">
			<ion-label>
				Offline Videos ({{localvideoarray.length}})
			</ion-label>
		</ion-segment-button>
	
		
	</ion-segment>
</ion-header>

<ion-content class="bg_color">
	<div class="tab_container" [ngSwitch]="tab">
		
		<ion-list lines="none" *ngSwitchCase="'offline'">
			<ion-item  *ngFor =" let localvideo  of localvideoarray">
				<div class="item_container">
					<div class="faculitie_details d-flex">
						<div class="text_box">
							<h3>By {{localvideo.facultyName}} ({{localvideo.videosize}} MB)</h3>
							<p>
								{{localvideo.description}}
							</p>
						</div>
						<div class="end" (click)="deletevideo(localvideo)">
							<ion-icon name="trash"></ion-icon>
						</div>
					</div>

					<ion-row>
						<ion-col size="7">
							<p>{{localvideo.Subject}}/{{localvideo.topicName}}/{{localvideo.subtopicName}}</p>
						</ion-col>
						<ion-col size="5" class="ion-text-end">
							<div class="message" (click)="playLocalVideo(localvideo)">
								<ion-icon class="zmdi zmdi-email"></ion-icon>
								&nbsp;
								Play Offline Video
							</div>
						</ion-col>
					</ion-row>
				</div>
			</ion-item>

		</ion-list>


		<ion-list lines="none" *ngSwitchCase="'online'">
			
			<ion-item *ngFor =" let vidarry of videoarray">
				<div class="item_container">
					<div class="faculitie_details d-flex">
						<div class="text_box">
							<h3>By {{vidarry.facultyName}}</h3>
							<p> 
								{{vidarry.description}}
							</p>
						</div>
						<div *ngIf="vidarry.isdownloaded =='N'" class="img_box end center_img" (click) ="getPermission(vidarry)">
							<img src="assets/images/download.png" class="crop_img">
						</div>
						<div *ngIf="vidarry.isdownloaded =='Y'" class="img_box end center_img">
							Downloaded
						</div>
					</div>

					<ion-row>
						<ion-col size="7">
							<p>{{vidarry.Subject}}/{{vidarry.topicName}}/{{vidarry.subtopicName}} </p>
						</ion-col>
						<ion-col size="5" class="ion-text-end">
							
							<div class="message" (click)="playRemoteVideo(vidarry)">
								<ion-icon class="zmdi zmdi-email"></ion-icon>
								&nbsp;
								Play Video
							</div>
						</ion-col>
					</ion-row>
				</div>
			</ion-item>

		</ion-list>


	</div>
	
</ion-content>